.how-we {
    margin-top: 50px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 574px;
    text-align: center;
    background: url(../static/images/question/how-bg-mobile.jpg) no-repeat center;
    background-size: cover;

    // .how-we__title
    &__title {
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
        color: $color-body;
    }

    // .how-we__text
    &__text {
        margin: 40px 0 45px 0;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        color: $color-body;
    }

    // .how-we__link
    &__link {}

    @media (min-width: 500px) {
        background: url(../static/images/question/how-bg-tablet.jpg) no-repeat center;
        background-size: cover;

        &__text {
            max-width: 500px;
        }
    }

    @media (min-width: 1000px) {
        background: url(../static/images/question/how-bg.jpg) no-repeat center;
        background-size: cover;
    }
}