.content-title {
    padding: 25px 0 0 25px;
    background: url(../static/images/icons/title-decoration.svg) no-repeat;
    font-weight: 600;
    line-height: 30px;

    @media (min-width: 1366px) {
        padding: 25px 0 0 50px;
    }
}