.content-title {
    padding: 30px 0 0 30px;
    background: url(../static/images/icons/title-decoration.svg) no-repeat;
    font-size: 36px;
    font-weight: 600;
    line-height: 30px;

    @media (min-width: 1366px) {
        padding: 30px 0 0 50px;
        font-size: 36px;
        font-weight: 600;
        line-height: 30px;
    }
}