@import 'utils/mixins';
@import 'utils/vars';
@import "~rfs/scss";

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(../static/fonts/segoe-ui.woff2) format("woff2"),
        url(../static/fonts/segoe-ui.woff) format("woff");
    font-weight: 400;
}

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    transition: .25s ease-in-out;
}

li a {
    font-family: SegoeUI, sans-serif;
}

a {
    text-decoration: none;
    font-family: "Segoe UI";
}

body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}

body.scroll-lock {
    overflow-y: hidden;
}

