//Utilites
@import 'utils/mixins';
@import 'utils/vars';
@import '~rfs/scss';

//Header styles
@import 'header/header.scss';
@import 'header/menu.scss';
@import 'header/menu-button.scss';

//Main styles
@import 'main/main.scss';
@import 'main/first-screen.scss';
@import 'main/products.scss';
@import './main/how-we.scss';
@import './main/reviews.scss';
@import './main/contacts.scss';

//Footer styles
@import './footer/footer.scss';

//Components
//Titles, text and links
@import './main/main-title.scss';
@import './main/main-link.scss';
@import './main/secondary-title.scss';
@import './main/secondary-text.scss';


//Fonts
html {
    font-family: 'Barlow',
        sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: 'Poppins', sans-serif;
}



//Normalize
* {
    // border: 1px solid tomato;
    box-sizing: border-box;
    transition: .25s ease-in-out;
}



a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}

body.scroll-lock {
    overflow-y: hidden;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}