$color-body: #ffffff;
$color-text: #666666;
$color-link: #292929;
$color-line: #ebebeb;
$color-accent: #fa9512;
$color-title: #242424;
$color-cards: #fafafa;
$color-info: #a3a3a3;
$color-footer: #f7f7f7;
$color-footer-border: #e0e0e0;