//Header menu
.menu {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0;

    // .menu__btn
    &__btn {
        position: absolute;
        right: 28px;
        top: 20px;
    }

    //list and buttons wrapper
    &__items {
        display: none;
        opacity: 0;
        flex-direction: column;
        justify-content: space-around;
        padding: 80px 30px 30px 30px;
        height: 100vh;
        background-color: #fff;
    }

    // .menu__list
    &__list {
        @include reset-list();
        text-align: center;
    }

    // .menu__item
    &__item {
        margin-bottom: 35px;
    }

    // .menu__link
    &__link {
        font-size: 36px;
        letter-spacing: 0.54px;
        line-height: 27px;
        color: $color-link;
    }

    // .menu__buttons
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    //Menu controls: phone link and buttons
    &__control {
        margin-bottom: 10px;
    }

    // .menu__phone
    &__phone {
        padding-left: 30px;
        max-width: 185px;
        background: url("../static/images/icons/phone.svg") no-repeat left center;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.99px;
        color: $color-link;
    }

    // .menu__subtitle
    &__subtitle {
        margin-left: 7px;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
        color: $color-text;
    }

    // .menu__lang
    &__lang {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.63px;
        line-height: 27px;
        color: $color-text;
        margin: 0 5px;
    }

    // .menu__goods-count
    &__goods-count {
        background: url(../static/images/icons/bag.svg) no-repeat center center;
        display: inline-block;
        padding: 10px 5px 5px 5px;
        font-size: 12px;
        font-weight: 300;
    }

    // .menu__goods-cost
    &__goods-cost {
        margin-left: 10px;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0.26px;
        line-height: 27px;
        color: $color-link;
    }

    //Menu opened state
    &.menu-opened {

        //Button
        .menu__btn {
            .btn__line {
                &:first-child {
                    top: 10px;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    transform: rotate(-45deg);
                }

                &:last-child {
                    opacity: 0;
                }
            }
        }

        //Links and buttons
        .menu__items {
            display: flex;

            &.visible {
                opacity: 1;
            }
        }
    }

    //Desktop menu switch
    @media (min-width: 1425px) {
        position: relative;
        margin-left: 2%;

        &__btn {
            display: none;
        }

        &__items {
            display: flex;
            opacity: 1;
            flex-direction: row;
            justify-content: flex-end;
            height: 100%;
            padding: 0;
        }

        &__list {
            display: flex;
            align-items: center;
        }

        &__item {
            margin-bottom: 0;

            &:not(:first-child) {
                margin-left: 55px;
            }
        }

        &__link {
            font-size: 20px;
            letter-spacing: 0.3px;
        }

        //Left menu buttons
        &__buttons {
            margin-left: 2%;
            flex-wrap: nowrap;
        }

        &__control {
            margin-bottom: 0;
        }

        &__lang {
            margin: 5px;
        }
    }

    //Large desktop
    @media (min-width: 1470px) {
        margin-left: 6%;

        &__buttons {
            margin-left: 3%;
        }

        &__lang {
            margin: 0 10px;
        }
    }

    //Extra large desktop
    @media (min-width: 1620px) {
        &__buttons {
            margin-left: 5.5%;
        }

        &__lang {
            margin: 0 35px;
        }
    }
}